---
title: Home
description: EARTHS the first world's system for the payment of unconditional basic income for all the inhabitants of our planet.
image: https://source.unsplash.com/j5LSbCqB1wA/2000x1322?a=.png
bottom_image: https://unsplash.it/2000/1322?a=.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">EARTHS</h1>
			<p class="subtext editable">Complete Blockchain Ecosystem for a Token Economy with Unconditional Basic Income for everybody.</p>
			<div class="cta button alt"><a href="https://lc.earths.ga">Online </a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Get Unconditional Basic Income</h2>
				<p class="subtext editable">For Unconditional Basic Income please fill in the free registration form.</p>
				<div class="cta button alt"><a href="https://forms.gle/23ZR2HyxiCHxcAQW9">Registration Form</a></div>
			</div>
		</div>
	</section>
</div>
